img {
    height: 270px;
    width: 320px;
    display: block;
    margin-bottom: 50px;
}

div {
    margin: 40px auto;
    width: 80%;
}

hr {
    width: 400px;
    margin-left: 0;
    margin-top: 25px;
    margin-bottom: 40px;
}

button {
    font-size: 16px;
    height: 45px;
    width: 160px;
    border-radius: 5px;
}

input {
    width: 200px;
    font-size: 15px;
    padding: 10px;
}

#edit-view {
    display: none;
}

button:hover {
    cursor: pointer;
}