img {
    width: 450px;
    height: 370px;
    display: block;
    margin-bottom: 40px;
}

div {
    width: 60%;
    margin:40px auto;
}

hr {
    width: 500px;
    margin: 25px 0;
}

button {
    width: 150px;
    height: 45px;
    border-radius: 5px;
    font-size: 15px;
}

input {
    width: 200px;
    font-size: 15px;
    padding: 15px;
}

#edit-view {
    display: none;
}

button:hover {
    cursor: pointer;
}